# Data Science Tools and Ecosystem #

**INTRODUCTION**

In this notebook, Data Science Tools and Ecosystem are summarized

**Some of the popular languages that Data Scientists use are:**

1. Python  
2. SQL (Structured Query Language)  
3. R  
4. Julia  
5. JavaScript   
6. Scala   
7. Java   
8. Go  
9. MATLAB   
10. C/C++  
11. Statistical Analytical System (SAS)

**Some of the commonly used libraries used by Data Scientists include:**  

Python Libraries for Data Processing and Model Deployment  
1) Pandas  
2) NumPy  
3) SciPy  
4) Sci-Kit Learn  
5) PyCaret   
6) Tensorflow  
7) OpenCV  

Python Libraries for Data Mining and Data Scraping  
8) SQLAlchemy  
9) Scrapy  
10) BeautifulSoup   

Python Libraries for Data Visualization   
11) Matplotlib 
12) Ggplot  
13) Plotly  
14) Altair  
15) Autoviz  


R Libraries   
1. dplyr  
2. ggplot2  
3. Esquisse  
4. Shiny  
5. mlr3  
6. Lubridate   
7. RCrawler  
8. knitr     
9. DT    
10. Plotly

**Data Science Tools**

1 Jupyter notebook  
2 Rapid miner   
3 Apache  Hadoop   
4 Tableu  
5 Tensor  flow

 ### Below are a few examples of evaluating arithmetic expressions in Python ###

Addition  

a = 5   
b = 7   
c = a + b   
print(c)  # Output: 12  

Subtraction 

a = 10  
b = 4   
c = a - b  
print(c)  # Output: 6 


Division  

a = 20  
b = 5  
c = a / b  
print(c)  # Output: 4.0 (floating-point division)

In [5]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200  # change this value to the number of minutes you want to convert
hours = minutes / 60  # convert minutes to hours
print(f"{minutes} minutes is equal to {hours:.2f} hours")

200 minutes is equal to 3.33 hours

**Objectives:**

Create a markdown cell with the title of the notebook.  
Create a markdown cell for an introduction.  
Create a markdown cell to list data science languages.  
Create a markdown cell to list data science libraries.    
Create a markdown cell with a table of Data Science tools.

## Author ##
Asadullah Muhammad